@import '../../index.scss';

.BestLayers{
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  
   
  .titlebest{
    font-family: $font-general;
    font-size: 50px;
    font-weight: bold;
    color: $fourth-color;
    margin-bottom: 40px;
  }
  
}

.layers{
  display: flex;
  height: 340px;
  justify-content: space-around;
  padding-top: 30px;
  margin-bottom: 120px;

  .layer{
    background-color: rgba(62, 60, 63, 0.577);
    border-radius: 15px;
    height: 200px;
    width: 300px;

  }
}
