@import '../../index.scss';

.BestLayers{
  text-align: center;
  background: url("../../images/background-hivegreen.jpg") ;
  background-size: 50%;
  padding-top: 30px;
  padding-bottom: 25px;
  
   
  .titlebest{
    font-family: $font-general;
    font-size: 50px;
    font-weight: bold;
    color: $fourth-color;
  }
  
}



.layers{
  display: flex;
  height: 200px;
  justify-content: space-around;
  padding-top: 30px;

  .layer{
    background-color: rgba(62, 60, 63, 0.577);
    border-radius: 15px;
    height: 120px;
    width: 180px;
    
  }
}
