@import '../../index.scss';

.HowItWorks{
  background-color: $fourth-color;
  font-family: 'Dosis', sans-serif;
  text-align: center;
  min-height: 600px;
  align-content: center;
  padding-top: 30px;

  h2 {
    padding-top: 1%;
    font-size: 50px;
    text-align: center;
  }
  .Typist .Cursor {
    display: inline-block;
  
    &--blinking {
      opacity: 1;
      animation: blink 1s linear infinite;
      @keyframes blink {
        0% { opacity:1; }
        50% { opacity:0; }
        100% { opacity:1; }
      }
    }
  }

  .circles{
    @extend %circles;
    padding-top: 1%;
    flex-wrap: wrap;

    .step{
      
      .circle{
        @extend %circle;
        padding: 2.2%;
      }

      .circleViolet{
        @extend %circleViolet;
        padding: 2.2%;
      }
    }
    
    .step{

      .circleBlue{
        @extend %circleBlue;
        padding: 2.2%;
      }
    }

    .step{

      .circleGreen{
        @extend %circleGreen;
        padding: 2.2%;
      }
    }
    .HIWTitles {
      margin: 15px 0px;
    }
      img {
        margin-top: 20px;
        height: 150px;
        width: 150px;
      }

    p {
      font-size: 1.3em;
      width: 150px;
      text-align: center;
      margin: 15px auto ;
    }
  }  
}