@import '../../index.scss';

.Join{
  font-family: 'Dosis', sans-serif;
  background-color: $fourth-color;
  text-align: center;
  padding-bottom: 5%;
  .circles{
    @extend %circles;
    padding-top: 1%;
    display: flex;
      .circle{
        @extend %circle;
        padding: 2.2%;
      }
    }
  .JoinText{
    font-size: 35px;

    .ImportantWords {
      font-size: 45px;
      font-weight: bold;
      color: $secondary-color;
    }
    
    
  }
  h2 {
    padding-top: 3%;
    font-size: 50px;
  }
}

@media screen and (max-width: 650px) {
  .Join{
    .circles{
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      .circle{
        margin: 20px 0px;
      }
    }
    .JoinText{
      font-size: 1.5em;
  
      .ImportantWords {
        font-size: 1.5em;
        font-weight: bold;
        color: $secondary-color;
      }
      
      
    }
  }
  
}
