@import '../../index.scss';

.LayerInfos {
  width: 100%;

  .button {
    @extend %button;
    padding: 5px 25px;
    background-color: $secondary-color;
    
    .arrowBack{
      font-size: 2.4em;
      text-align: center;
      text-shadow: 1px 1px black;
    }
  }
}
.cardCss {
  width: auto;
  border: 4px solid $third-color;
  background-color: $third-color;
  opacity: 0.92;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 8px rgba(0, 0, 0, 0.687);

}
.pageHeader {

  .titleLayerInfo {
    color: $fourth-color;
    text-shadow: 1px 1px black;
    font-family: $font-general;
    background-color: $third-color;
    opacity: 0.9;
    box-shadow: 2px 2px 2px 4px rgba(0, 0, 0, 0.687);
    border-radius: 10px;
    padding: 10px;

  }

  .nameLayerInfo {
    color: $secondary-color;
    font-family: $font-general;
    text-shadow: 1px 1px black;
  }

  .titleSecLayerInfo {
    color: $fourth-color;
    font-family: $font-general;
    font-size: 1.3em;
  }

  .elementLayerInfo {
    color: $secondary-color;
    font-family: $font-general;
    font-size: 1em;
    padding-left: 5px;
    text-shadow: 1px 1px black;
  }

  .urlLayerInfo {
    color: $secondary-color;
    font-family: $font-general;
    font-size: 1em;
    text-decoration: underline;
    padding-left: 5px;
    text-shadow: 1px 1px black;
  }
}


