@import '../../index.scss';


.Banner {
  font-family: 'Dosis', sans-serif;
  background-image: linear-gradient($secondary-color, $primary-color);
  color : white;
  background-size: cover;
  padding: 110px;
  
    h2 {
      font-weight: bold;
    }

    .button {
      @extend %button;
      padding : 10px 15px;
    }
}

