@import '../index.scss';

.LayersDisplay{
  width:100%;  
  display: flex;

  .filters{
    h2{
      font-weight: bold;
    }

    .projects-list{
      list-style-type: none;
      padding-inline-start: 0;
    }

    display: flex;
    margin-bottom: 50px;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 15px;

    .filter{
      margin-top: 10px;
      background: none;
      color: $third-color;
      width: 90%;
      text-align: left;
      font-weight: 200;
    }
    .filter:hover{
      background-color: $fourth-color;
      transition: all 0.5s ease;
      width: 100%;
    }
  }
  .activeProject {
    color: white;
    font-size: 1.3em;
    text-align: center;
    margin: 30% 0px;
    font-family: $font-general;
  }

  button{
    border-radius: 8px;
    padding: 10px 15px;
    border: none;
    background-color: $button-third;
    color: white;
    align-self: center;
    font-weight: bold;
    transition: 0.4s;
    span{
      font-size: 1em;
    }
  }
  button:hover{
    background-color: $fourth-color;
    color: $third-color;
    transition: 0.4s;
  }
  .layersTitles{
  color: $third-color;
  text-align: center;
  margin-top: 1%;
  width: 100%;
    
  th{
    font-size: 1.1em;
    margin-right: 13%;
  }
  tr{
    display: flex;
    justify-content: space-between;
    padding-left: 1%;
    padding-right: 1%;
    font-size: 1.1em;
    height: 65px;
    align-items: center;
  }
  .priv-pub-button {
    margin: 1%;
  }
  }
  .layers-cage {
    margin-left: 1%;
  }
}

.title-page {
  margin: 10px;
}

.layersScrolling{
  overflow-y: scroll; 
  max-height: 550px;;
}

.layersScrolling::-webkit-scrollbar {
  border-radius: 15px;
  width: 0.8em;
}

.layersScrolling::-webkit-scrollbar-track{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 15px;
}

.layersScrolling::-webkit-scrollbar-thumb {
  background-color: $third-color;
  outline: 1px solid slategrey;
  border-radius: 15px;
}


