@import '../index.scss';

.LayerFromCatalog {
  background-color: $opacity-background;
  width: auto;
  margin: 20px;

.info-button {

.imageRow{
  vertical-align: middle;
  height: 65px;
  min-width: 65px;
  background-color: $button-third;
  transition: 0.5s;

  .info {
    width: 45px;
    height: 45px;
    margin-top: 14%;
    transition: 0.5s;
  }
}
  .imageRow:hover {
    background-color: $opacity-background;
    transition: 0.5s;
    
    .info:hover {
      content: url(../images/infohover.png);
      transition: 0.5s;
    }
  }
}

  .isShare {
    height: 20px;
    width: 20px;
  }

  .add-remove-button {
    height: 65px;
    width: 65px;
    border-radius: 0;
    font-weight: bolder;
  }
}

@media screen and (max-width: 850px){
  .tableUrl {
    display: none;
  }
}

@media screen and (max-width: 670px){
  .LayerFromCatalog{

    .repo {
      display: none;
    }
  }  
}

@media screen and (max-width: 650px){
  .LayerFromCatalog{

    .share {
      display: none;
    }

    .tableDescription {
      word-wrap: normal;
      width: 80%;
    }
  }  
}

@media screen and (max-width: 550px) {
  .LayerFromCatalog{

    .tableDescription {
      display: none;
    }
  }
}

@media screen and (max-width: 410px) {
  .LayerFromCatalog{
    width: 290px;
    margin: 10px auto;
  }
}