@import '../index.scss';

.LayerInfos {
  width: 100%;
  min-height: 100vh;
  background-image: linear-gradient(to bottom, $secondary-color, $primary-color);

  .cardCss {
    width: auto;
    background-color: $third-color;
  }
  .pageHeader {

    .titleLayerInfo {
      color: $fourth-color;

      font-family: $font-general;
      background-color: $third-color;

      border-radius: 5px;

      font-size: 2.2em;
      font-weight: bold;
    }

    .nameLayerInfo {
      color: $secondary-color;
      font-family: $font-general;
    }

    .titleSecLayerInfo {
      padding-left: 10px;
      color: $fourth-color;
      font-family: $font-general;
      font-size: 1.3em;
    }

    .elementLayerInfo {
      color: $secondary-color;
      font-family: $font-general;
      font-size: 1em;
      padding-left: 5px;
      width: 60vw;
      height: 100%;
    }

    .urlLayerInfo {
      color: $secondary-color;
      font-family: $font-general;
      font-size: 1em;
      padding-left: 5px;
    }
  }

  .container_button{
    width: 160px;
    margin: auto;
    height: 60px;
  }
  .button_display{
    position: absolute;
    border-radius: 5px;
    padding: 10px 15px;
    border: none;
    background-color: $third-color;
    color: white;
    align-self: center;
    font-weight: bold;
    transition: 0.4s;
    width: 160px;
    span{
      font-size: 1em;
    }
  }
  .button_display:hover{
    background-color: white;
    color: $third-color;
  }
  .button_display_submit{
    background-color: $third-color;
    color: white;
    font-weight: bold;
    transition: 0.4s;
    padding: 10px 15px;
    border-radius: 5px;
    margin: 0px 0px 25px 0px;
    width: 160px;
  }
  .button_display_submit:hover{
    background-color: white;
    color: $third-color;
  }

  .text_area_input{
    width: 50vw;
    border-radius: 5px;
    color: $secondary-color;
  }
  .button_checbox{
    border-radius: 5px;
    color: $secondary-color;
  }
  .button_checbox:hover{
    background-color: #fcfcfc85;
    color: black;
  }
  .login_input{
    border-radius: 5px;
    color: $secondary-color;
  }
  .select_input{
    border-radius: 5px;
    color: $secondary-color;
  }
  
}