@import '../index.scss';


.LayerFromCatalog{
  margin: 0px 50px;
  .Layer{
    background-color: $secondary-color;
    justify-content: flex-start;
    td{
      margin-right: 80px;
    }
  }
  .isShare {
    height: 30px;
    width: 30px;
  }
  
}
