@import '../index.scss';

.LayersDisplay{
  height: 100%;
  position: relative;
  display: flex;
.title_table{
    font-size: 1.4em !important ;
  }
  .head_table{
    padding: 15px 0px;
  }
  p{
    margin: 10px 0;
    text-align: center;
    font-weight: bold;
  }

  h2{
    font-weight: bold;
  }

  .filters{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 15px;

    .projects-list{
      list-style-type: none;
      padding-inline-start: 0;
    }

    .filter{
      margin-top: 10px;
      background: none;
      color: $third-color;
      width: 90%;
      text-align: left;
      font-weight: 200;
    }

    .filter:hover {
      background-color: $fourth-color;
      transition: all 0.5s ease;
      width: 100%;
    }
  }

  .active_project {
    color: white;
    text-align: center;
    margin: 30% 0px;
    font-family: $font-general;
  }

  button{
    width: 160px;
    border-radius: 5px;
    padding: 10px 15px;
    border: none;
    background-color: $button-third;
    color: white;
    align-self: center;
    font-weight: bold;
    transition: 0.4s;

    span {
      font-size: 1em;
    }
  }

  button:hover {
    background-color: $fourth-color;
    color: $third-color;
    transition: 0.4s;
  }

  .layersTitles{
    color: $third-color;
    text-align: center;
    margin-top: 16px;
    width: 80%;
    
    .titreTable {
      background-color: $third-color;
      color: $fourth-color;
      padding-right: 8%;
      margin: 20px;
    }
    .priv-pub-button {
      margin: 1%;  
    }
  }
}

.title-page {
  margin-top: 30px;
  font-weight: bold;
  text-transform: uppercase;
}

.layersScrolling {
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: 440px;
}

.layersScrolling::-webkit-scrollbar {
  border-radius: 15px;
  width: 0.8em;
}

.layersScrolling::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 15px;
}

.layersScrolling::-webkit-scrollbar-thumb {
  background-color: $third-color;
  outline: 1px solid slategrey;
  border-radius: 15px;
}

@media screen and (max-width: 850px) {
  .titreTable{
    display: none;
  }
}

@media screen and (max-width: 1100px) {
  .LayersDisplay{

    .layersTitles {
      width: 100%;
    }
  }
  
}