@import '../index.scss';


.LayerFromCatalog{
  margin: 0px 50px;
  .Layer{
    background-color: $secondary-color;
    box-shadow: 4px 4px 6px grey;
    justify-content: flex-start;
    td{
      margin-right: 80px;
    }
  }
  
}
