.ListProjects{
  display: flex;
  .title_all_projects{
    margin: 0px auto 20px auto;
  } 
  .content_page{
    overflow-y: scroll; 
    max-height: 500px;;
    margin-top: 20px; 
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}