@import '../index.scss';

.NavBar{
  display: flex;
  position: sticky;
  max-height: 70px;
  padding: 10px;
  z-index: 1;
  justify-content: space-between;
  background-color: $third-color;
  position: -webkit-sticky;
  top: 0;
  width: 100%;
  .logo{
    display: flex;
    width: 45px;

    .title{
      background: none;
      -webkit-text-fill-color: $fourth-color;
      font-family: 'Dosis', sans-serif;
      margin-left : 10px;
    }
  }
  
  .logo:hover{
    text-decoration: none;
  }
  .searchButton, .burgerButton{
    button{
      background: none;
      border: none;

      img{
        width: 45px;
      }
    }    
  }

  .searchbar{
    display: flex;
    flex-wrap: nowrap;


    form{
      display: flex;
      flex-wrap: nowrap;
    }
    
    .field{
      border-radius: 5px 0 0 5px;
      padding : 10px 15px;
      border-style: none;
      font-family: 'Dosis', sans-serif;
    }

    .button_search {
      @extend %button_neg;
      border-radius : 0 5px 5px 0;
      background-color: rgba(53, 52, 93, 0);
      color: $fourth-color;
      padding : 10px 15px;
    }

    .button_search:hover{
      background-image: linear-gradient(to left, $secondary-color, $primary-color);
      color: $third-color;
      transition: 0.5s;
    }
  }

  .button_login {
    @extend %button_neg;
    padding : 10px 15px;
    margin: 0px 10px 0px 0px;
  }

  .button_add {
    @extend %button_neg;
    padding : 10px 15px;
    margin: 0px 10px 0px 0px;
  }

  .popoversShow{
    position: absolute;
    transition: 0.2s;
  }
  .effectAdd{
  transform: translate(20px, 15px);
  }
  .effectLog{
  transform: translate(-10px, 15px);
  }
  .popoversHid{
    height: 0px;
    transition: 0.2s;
    position: absolute;
  }
  .textShow{
    padding: 15px;
    display: flex;
    flex-direction: column;
    border: 2px solid $third-color;
    border-radius: 5px;
    background-color: white;
  }
  .textHidden{
    display: none;
  }
  .button_link_log{
    background-color: transparent;
    border: none;
    cursor: pointer;
    color:black;
    margin: 10px 0px 10px 0px;
  }
  .button_link_log:hover{
    color: black;
  }
}

@media screen and (max-width: 1100px) {
  .title{
    display: none;
  }  
}

@media screen and (max-width: 540px){
  .searchbar{
    display: none !important;    
  }
  .buttonsForPopovers{
    display: none;
  }
}

@media screen and (min-width: 541px){
  .searchButton{
    display: none !important;    
  }
  .burgerButton{
    display: none;
  }
}