@import '../index.scss';

.PageProject {
  height: 100%;
  display: flex;

  h2 {
    font-weight: bold;
  }

  .projects-list {
    list-style-type: none;
    padding-inline-start: 0;
  }

  button {
    border-radius: 8px;
    padding: 10px 15px;
    border: none;
    background-color: $button-third;
    color: white;
    align-self: center;
    font-weight: bold;
    transition: 0.4s;
    span{
      font-size: 1em;
    }
  }

  button:hover {
    background-color: $fourth-color;
    color: $third-color;
    transition: 0.4s;
  }

  .filter {
    margin-top: 10px;
    background: none;
    color: $third-color;
    width: 90%;
    text-align: left;
    font-weight: 200;
  }
  
  .filter:hover {
    background-color: $fourth-color;
    transition: all 0.5s ease;
    width: 100%;
  }

  .button-build {
    border-radius: 8px;
    padding: 10px 15px;
    border: none;
    background-color: $button-third;
    color: white;
    align-self: center;
    font-weight: bold;
    transition: 0.4s;

    span{
      font-size: 1em;
    }
  }
  .button-build:hover {
    background-color: $fourth-color;
    color: $third-color;
    transition: 0.4s;
  }

  .titleProject {
    text-align: center;
    margin-top: 2%;
    width: 100%;

    .titleDisplay {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 10px;

      .flexAdjust {
        width: 83px;
      }

      .titleDesc {
        display: flex;
        flex-direction: column;
        margin-left: auto;
        color: $third-color;
        height: 148px;

        h1, p {
          margin: 0px 0px 15px 0px;
        }

        .button_display_submit {
          border-radius: 8px;
        }

        .label_input {

          .editionInput {
            border-radius: 8px;
            padding: 8px;
          }
        }
      }

      .projectBackButton {
        margin-left: auto;
      }
    }
  }
  .button_display {
    border-radius: 8px;
    margin: 0px 10px;
  }

  .layersTitles {
    width: 100%;

    .scrolling {
      overflow-y: scroll; 
      height: 440px;
    }

    .scrolling::-webkit-scrollbar {
      border-radius: 15px;
      width: 0.8em;
    }
    
    .scrolling::-webkit-scrollbar-track{
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
      border-radius: 15px;
    }
    
    .scrolling::-webkit-scrollbar-thumb {
      background-color: $third-color;
      outline: 1px solid slategrey;
      border-radius: 15px;
    }

    .EmptyMessage {
      font-size: 30px;
      margin: 50px 0px; 
    }
  }

  

  tr {
    display: flex;
    justify-content: space-between;
    padding-left: 1%;
    padding-right: 1%;
    font-size: 1.1em;
    margin-top: 15px;
    height: 65px;
    align-items: center;
  }
}
