@import '../index.scss';

.PageProject {
  height: 100%;
  display: flex;

  .sideBarProject {

    .projectRow {
      height: 100%;
      min-width: 250px;

      h2 {
        font-weight: bold;
      }

      .projects-list {
        list-style-type: none;
        padding-inline-start: 0;
      }

      button {
        border-radius: 8px;
        padding: 10px 15px;
        border: none;
        background-color: $button-third;
        color: white;
        align-self: center;
        font-weight: bold;
        transition: 0.4s;
        span{
          font-size: 1em;
        }
      }

      button:hover {
        background-color: $fourth-color;
        color: $third-color;
        transition: 0.4s;
      }

      .filter {
        margin-top: 10px;
        background: none;
        color: $third-color;
        width: 90%;
        text-align: left;
        font-weight: 200;
      }
      .filter:hover {
        background-color: $fourth-color;
        transition: all 0.5s ease;
        width: 100%;
      }

      .button-build {
        border-radius: 8px;
        padding: 10px 15px;
        border: none;
        background-color: $button-third;
        color: white;
        align-self: center;
        font-weight: bold;
        transition: 0.4s;
        span{
          font-size: 1em;
        }
      }
      .button-build:hover {
        background-color: $fourth-color;
        color: $third-color;
        transition: 0.4s;
      }
    }
  }

  .titleProject {
    text-align: center;
    margin-top: 2%;
    width: 100%;

    .titleDisplay {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 10px;

      .flexAdjust {
        width: 83px;
      }    

      .titleDesc {
        margin-left: auto;
        color: $button-third;
      }

      .projectBackButton {
        margin-left: auto;
      }
    }
  }
  .button_display {
    border-radius: 8px;
    margin: 0px 10px;
  }

  .layersTitles {
    width: 100%;
  }
  
  .add-remove-button {
    width: 65px;
    height: 65px;
    background-color: $button-third;
    transition: 0.5s;
    left: 0;
  }

  .add-remove-button:hover {
    width: 65px;
    height: 65px;
    background-color: white;
    transition: 0.5s;
    left: 0;
  }

  .EmptyMessage {
    font-size: 30px;
  }

  tr {
    display: flex;
    justify-content: space-between;
    padding-left: 1%;
    padding-right: 1%;
    font-size: 1.1em;
    margin-top: 15px;
    height: 65px;
    align-items: center;
  }
}
