@import '../index.scss';

.ProjectDisplay{
  .row_project{
    background-color: $secondary-color;
    margin: 10px 0px 10px 0px;
    padding: 10px;
    border-radius: 5px;
  }
  .info{
    width: 50px;
  }
  .text_default{
    color: black;
  }
  .title_project{
    font-size: 2em ;
    text-transform: capitalize;
  }
  .description_project{
    font-size: 1.1em ;
  }
  .row_project:hover{
    background-color: darken($secondary-color, 5%);
    
  }
  a:link{
    text-decoration: none ;
  }
    @media screen and (max-width: 1100px) {
    .title_project{
      font-size: 1.5em ;
    }
    .info{
      width: 35px;
    }
    .description_project{
      margin: 15px 0px 0px 0px;
    }
  }
}