@import './index.scss';

.App{
  position: relative;
  font-family: $font-general;
  // min-height: 100vh;
  margin: 0 auto;
// .body_content_switch{
//   padding: 7vh 0px 0px 0px;
// }
}
body, #root {
  width: 100%;
  min-height: 100%;
  background: white;
  margin: 0 auto;
}
